div(ng-controller="Home.SalaryController as salary")
  input(type="number" ng-model="hourly" placeholder="type in your hourly rate")
  p You make ${{hourly * rates.weekly}} a week, ${{hourly * rates.monthly}} a month, and ${{hourly * rates.annual}} a year.